@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html{
  height:100%;
}
body{
  margin:0px;
  height:100%;
  display:flex;
  flex-direction:column;
  background-color:#f6f3eb;
  font-family: "Red Hat Display";
}
#loginWrapper{
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
#loginLeft{
  height:100%;
  display:flex;
  flex-direction:row;
  width:40%;
  justify-content:center;
  align-items:center;
}
#loginImg{
  width:90px;
  border-radius:10px;
}
#logoText{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}
#logoText1{
  font-weight:bold;
  font-size:36px;
  color:white;
  margin: 0px 15px 5px 15px;
}
#logoText2{
  font-weight:400;
  font-size:18px;
  color:white;
  margin: 0px 15px 5px 15px;
}
#loginRight{
  height:100%;
  display:flex;
  flex-direction:row;
  width:60%;
  justify-content:center;
  align-items:center;
}
#loginHeader{
  font-size:24px;
  font-weight:bold;
}
#loginFields{
  display:flex;
  width:30%;
  background-color:white;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding:20px 70px;
  border-radius:10px;
}
#loginFields input{
  width:100%;
  font-size:16px;
  background-color:rgba(0,0,0,0);
  border:none;
  margin:20px 0px;
  padding:10px 0px;
  border-bottom: 2px solid rgb(110, 110, 110);
}
#loginFields input:focus{
  outline:none;
  border-bottom: 2px solid #6968be;
}
#loginFields a{
  text-decoration:none;
}
#loginSubmit{
  font-size:18px;
  margin:5px;
  color:white;
  border-radius:30px;
  background-color:rgb(0, 0, 0);
  padding:10px 20px;
  font-weight:500;
  transition: background-color 0.3s;
}
#loginSubmit:hover{
  background-color:rgb(87, 86, 86);
}
#loginFields a:hover{
  text-decoration:underline;
}
#forgot{
  font-weight:bold;
  color:#6968be;
  font-size:18px;
  margin:5px 0px;
}
#forgot:hover{
  text-decoration:underline;
}
#need{
  color:black;
  font-size:20px;
}
#loginFields h2{
  font-size:16px;
  color:rgb(82, 155, 82);
  font-weight:normal;
}
#errorLabel{
  margin:5px 0px;
  font-size:18px;
  font-weight:normal;
  color:red;
}

#googleLoginBox{
  display:flex;
  flex-direction:row;
  align-items:stretch;
  margin:20px 20px;
  justify-content:center;
  padding:10px;
  background-color:rgba(0,0,0,0);
  border-radius:20px;
  border:solid 2px black;
}
#googleLoginBox h2{
  margin:0px;
  font-family:'Red Hat Display';
  font-weight:normal;
  color:black;
  font-size:18px;
}
#googleLoginBox img{
  width:25px;
  margin:0px 5px;
}
#homeWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  background: url('images/bg.png');
  background-size:cover;
  background-position:center;
}
#workoutWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  background: url('images/bgExtra.png');
  background-size:cover;
  background-position:center;
}
#workoutTop{
  display:flex;
  flex-direction:row-reverse;
  justify-content:space-between;
  align-items:center;
  height:75%;
  width:90%;
}
#workoutDone{
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:50%;
  height:90%;
  background-color:rgb(255 255 255 / 45%);
  border-radius:20px;
}
#done2{
  font-size:36px;
  font-weight:350;
  color:rgb(53, 45, 45);
  border-radius:30px;
  background-color:rgb(207, 152, 171);
  padding:15px 30px;
  transition:background-color 0.3s, color 0.3s;
}
#done2:hover{
  background-color:rgb(248, 182, 205);
}
#done1{
  font-size:50px;
  font-weight:500;
  color:rgb(53, 45, 45);
}
main{
  display:none;
}
#workoutTopRight{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:rgb(255 255 255 / 45%);
  border-radius:20px;
  width:100%;
  margin: 30px 0px 30px 20px;
  height:90%;
}
#frame{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100%;
}
#workoutBottom{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background-color:rgb(255 255 255 / 45%);
  border-radius:20px;
  height:25%;
  margin-bottom:20px;
  width:90%;
}
#currentTitle{
  font-size:48px;
  font-weight:700;
  color:rgb(61, 53, 53);
  margin:30px 0px 5px 0px;
}
#currentStretch{
  font-size:36px;
  font-weight:500;
  color:rgb(77, 112, 90);
  margin:5px 0px 25px 0px;
}
#nextUp{
  font-size:48px;
  font-weight:700;
  color:rgb(61, 53, 53);
  margin:25px 0px 5px 0px;
}
#nextStretch{
  font-size:36px;
  font-weight:500;
  color:rgb(77, 112, 90);
  margin:5px 0px 25px 0px;
}
#accuracyLabel{
  font-size:48px;
  font-weight:700;
  color:rgb(61, 53, 53);
  width:70%;
  margin:0px 25px 0px 25px;
  text-align:center;
}
#motivation{
  font-size:24px;
  font-weight:400;
  color:rgb(255, 219, 109);
  width:70%;
  text-align:center;
}
#timer{
  font-size:40px;
  font-weight:700;
  color:rgb(61, 53, 53);
  margin:0px 50px 0px 25px;
  width:30%;
  text-align:left;
}
#workoutBottomLeft{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100%;
  width:50%;
}
#createWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  background: url('images/bgCreate.jpg');
  background-size:cover;
  background-position:center;
}
#createLeft{
  width:33%;
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:start;
  background-color:rgb(255 255 255 / 45%);
  border-radius:20px;
  margin: 20px 20px;
  padding:20px 25px;
}
#createRight{
  width:66%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  background-color:rgb(255 255 255 / 45%);
  border-radius:20px;
  margin: 20px 20px;
  padding:20px 25px;
}
#yourExercise{
  color:rgb(61, 53, 53);
  font-weight:900;
  margin:5px 0px;
  font-size:48px;
}
#list{
  font-size:24px;
  font-weight:800;
  color:rgb(61, 53, 53);
}
#suggestedList{
  font-size:24px;
  font-weight:800;
  color:rgb(61, 53, 53);
}
.poseImg{
  width:65px;
  height:65px;
  margin:5px;
}
.poseText{
  font-size:18px;
  font-weight:300;
  color:rgb(20 18 18);
  margin:5px;
}
#clearButton p{
  margin:20px 0px;
}
#jumpButton p{
  margin:20px 0px;
}
.btn{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin:5px;
  width:100%;
  border-radius:20px;
  border: solid 3px rgb(65 74 75 / 45%);
  background-color:rgb(156 175 187 / 45%);
  transition:background-color 0.3s;
}
.btn:hover{
  background-color:rgba(199, 223, 238, 0.45);
}
#clearButton{
  border: solid 3px rgba(75, 65, 65, 0.45);
  background-color:rgba(187, 156, 156, 0.45);
}
#clearButton:hover{
  background-color:rgba(238, 199, 199, 0.45);
}
#jumpButton{
  border: solid 3px rgba(67, 75, 65, 0.45);
  background-color:rgba(160, 187, 156, 0.45);
}
#jumpButton:hover{
  background-color:rgba(207, 238, 199, 0.45);
}
#addExercise{
  color:rgb(61, 53, 53);
  font-weight:900;
  margin:5px;
  font-size:48px;
}
#poseArray{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:100%;
}
.poseCol{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  height:100%;
  width:40%;
  margin: 0px 10px;
}
#bgFilter{
  height:100%;
  backdrop-filter:blur(7px) brightness(0.6);
  transition: margin-left .5s;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
#bgFilter2{
  height:100%;
  backdrop-filter:blur(7px) brightness(0.6);
  transition: margin-left .5s;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
#bgFilt{
  height:100%;
  backdrop-filter:blur(7px);
  transition: margin-left .5s;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
#welcomeText{
  font-family: "Red Hat Display";
  font-size:75px;
  font-weight:800;
  margin: 0px 0px 75px 0px;
  color:rgb(255, 255, 255)
}
#hiText{
  font-family: "Red Hat Display";
  font-size:50px;
  font-weight:800;
  margin: 0px 0px 40px 60px;
  color:rgb(255, 255, 255)
}
#startStretch{
  font-family: "Red Hat Display";
  margin: 75px 0px 0px 0px;
  font-size:36px;
  font-weight:350;
  color:rgb(53, 45, 45);
  border-radius:30px;
  background-color:rgb(207, 152, 171);
  padding:15px 30px;
  transition:background-color 0.3s, color 0.3s;
}
#startStretch:hover{
  color:rgb(97, 82, 82);
  background-color:rgb(233, 170, 192);
}
#homeSide{
  display:flex;
  flex-direction:row;
  justify-content:start;
}
#homeMain{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#homeMain hr{
  width:100%;
  border: solid 3px rgb(255, 255, 255);
}
#sideMain{
  display:flex;
  flex-direction:column;
  justify-content:left;
  align-items:center;
}
#sideMain hr{
  width:100%;
  border: solid 3px rgb(255, 255, 255);
}
#sidebar{
  background-color:rgb(39 39 39);
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:start;
  height:100%;
  width:0;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.5s;
}
.sidebarLink{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:start;
  transition: background-color 0.3s;
}
.sidebarLink:hover{
  background-color:rgba(255, 255, 255, 0.103);
}
.sidebarImg{
  width:40px;
  padding: 30px 10px 30px 15px;
}
#sidebar a{
  font-family: "Red Hat Display", sans-serif;
  font-weight:400;
  font-size:30px;
  color:white;
  text-decoration:none;
  margin:0px;
  padding: 30px 10px;
}
#openSidebar{
  display:flex;
  margin: 10px;
  font-size:36px;
  font-weight:bold;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  color:white;
}
#profileWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  /*background-color:rgb(230, 230, 230)*/;
  background: url('images/bgProfile.png');
  background-size:cover;
  background-position:center;

}
#profileMain{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:center;
}
#logout{
  font-size:20px;
  font-weight:bold;
  border-radius:30px;
  padding:10px 20px;
  background-color: rgb(255 255 255 / 45%);
  transition:color 0.3s;
}
#logout:hover{
  color: rgba(230,230,230);
}
#profileWelcome{
  font-size:60px;
  font-weight:600;
  color:rgb(255, 255, 255);
  margin:30px 0px 10px 0px;
}
#profileBoxRow{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:center;
  height:70%;
}
.profileBox{
  background-color:rgb(255 255 255 / 45%);
  width:40%;
  border-radius:20px;
  margin: 20px 20px;
  display:flex;
  flex-direction:column;
  align-items:start;
  padding:20px 25px;
  height:80%;
  overflow:scroll;
}
.profileBox::-webkit-scrollbar {
  display: none;
}
.profileBox h1{
  font-size:36px;
  font-weight:bold;
  margin:10px 0px;
  color:rgb(61, 53, 53);
}
.profileBox p{
  font-size:24px;
  font-weight:400;
  margin:10px 0px;
  color:rgb(61, 53, 53);
}
.hr2{
  width:80%;
  border: solid 1px rgb(61, 53, 53);
  margin:0px 0px 20px 0px;
}
#hr1{
  width:80%;
  border: 2px solid rgb(255, 255, 255);
}
video {
  filter: brightness(80%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.hidden{
  opacity:0;
}

#gotoselectworkouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  padding: 20px 0px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.45);
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  text-align: center;
}
